{
  "bracketSpacing": true,
  "singleQuote": false,
  "jsxBracketSameLine": false,
  "printWidth": 80,
  "parser": "typescript",
  "arrowParens": "avoid",
  "trailingComma": "none",
  "endOfLine": "auto"
}
